.card-section {
}
.card {
    width: 350px;
    border: 1px solid color #E72424;
}
.card-img {
    width: 70px;
    height: 70px;
    border: solid 1px;
    color:#E72424;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: auto;
    margin-top: 67px;


}
.card-img img{
    width: 100%;
}
.card-title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    color: #333333;
    margin: 30px auto 16px;
    font-family: 'Open Sans';
    font-style: normal;
}
.card-text {
    text-align: center;
    color: black;
    font-weight: 400;
    line-height: 19px;
}