.heading{
    margin-top: 80px;
    text-align: center;
}

.main-title-text{
    width: 409px;
    height: 42px;
    font-size: 36px;
    font-weight: 400;
    display: inline-block;
    color: #212121;
;
}

.border{
    width: 64px;
    height: 2px;
    border: solid 1px;
    margin: auto;
    margin-top: 34px;
    color:#E72424
}

.description{
    margin-top: 34px;
    color:#86878B
}